/* used for all pages */


/* place footer on bottom */
.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}


/* set table to fit contents */
table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}
