/* used for all pages */


/* place footer on bottom */
.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
/* --------------------- */



/* TODO color */
