/* place footer on bottom */
.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

#recipe-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-lg {
  max-width: 50rem !important;
}
